.gallery {
  background-image: linear-gradient($section-first-bgcolor 40%, $section-second-bgcolor 40%);
}
.gallery-list {
  display: grid;
  grid-template-rows: repeat(8, 25px);
  grid-template-columns: repeat(15, 25px);
  justify-content: center;
  grid-gap: 2px;
  @include tablet {
    grid-template-rows: repeat(8, 40px);
    grid-template-columns: repeat(15, 40px);
  }
  @include desktop {
    grid-template-rows: repeat(8, 70px);
    grid-template-columns: repeat(15, 70px);
  }
  @media screen and (max-width: 479.98px) {
    grid-template-rows: repeat(8, 5vw);
    grid-template-columns: repeat(15, 5vw);
  }
}

.gallery-list {
  & img {
    width: 100%;
    border-radius: 20%;
  }
  .gallery-list__item {
    cursor: pointer;
    &:hover,
    &:focus {
      transform: scale(2.5);
    }
    transition: transform 250ms linear;
    &:first-of-type {
      grid-row: 4 / span 2;
      grid-column: 1 / span 2;
    }
    &:nth-of-type(2) {
      grid-row: 3 / span 2;
      grid-column: 3 / span 2;
    }
    &:nth-of-type(3) {
      grid-row: 5 / span 2;
      grid-column: 3 / span 2;
    }
    &:nth-of-type(4) {
      grid-row: 1 / span 5;
      grid-column: 5 / span 5;

      &:hover,
      &:focus {
        transform: scale(1.15);
      }
    }
    &:nth-of-type(5) {
      grid-row: 6 / span 3;
      grid-column: 5 / span 3;
      &:hover,
      &:focus {
        transform: scale(2);
      }
    }
    &:nth-of-type(6) {
      grid-row: 5 / span 1;
      grid-column: 10 / span 1;
      &:hover,
      &:focus {
        transform: scale(4);
      }
    }
    &:nth-of-type(7) {
      grid-row: 6 / span 2;
      grid-column: 10 / span 2;
    }
    &:nth-of-type(8) {
      grid-row: 2 / span 2;
      grid-column: 13 / span 2;
    }
    &:nth-of-type(9) {
      grid-row: 5 / span 2;
      grid-column: 12 / span 2;
    }
    &:nth-of-type(10) {
      grid-row: 4 / span 2;
      grid-column: 14 / span 2;
    }
    &:nth-of-type(11) {
      grid-row: 2 / span 3;
      grid-column: 10 / span 3;
      &:hover,
      &:focus {
        transform: scale(2);
      }
    }
    &:nth-of-type(12) {
      grid-row: 6 / span 2;
      grid-column: 8 / span 2;
    }
    &:nth-of-type(13) {
      grid-row: 7 / span 1;
      grid-column: 4 / span 1;
      &:hover,
      &:focus {
        transform: scale(4);
      }
    }
  }
}
