.btn {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  cursor: pointer;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: $btn-hover-primary-color;
  }
  &--dark {
    &:hover,
    &:focus {
      background-color: $btn-hover-secondary-color;
    }
  }
}
.buy-btn {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    width: 160px;
    height: 44px;
    background-color: $light-color;

    @include font(16px, 700, 1.3125);
    color: $brand-color;
    &__icon {
      margin-left: 12px;
    }
  }
}
.menu-btn {
  &:hover,
  &:focus {
    background-color: transparent;
  }
  @include tablet {
    margin-right: 32px;
  }
  @include desktop {
    display: none;
  }
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: transparent;
  border-radius: 50%;
  z-index: 1000;
  border: none;
  opacity: 1;
  transform: translate(0) scale(1) rotate(0);

  @include transition(opacity, transform);

  &:hover,
  &:focus {
    outline: none;
  }

  &.hidden {
    opacity: 0;
    transform: translate(200px, 200px) scale(5) rotate(720deg);
    @include transition(opacity, transform);
    pointer-events: none;
  }
  &__icon {
    fill: $brand-color;

    .back-to-top:hover &,
    .back-to-top:focus & {
      fill: $brand-color;
    }
  }
}
