body {
  background-color: $section-second-bgcolor;
  color: $second-text-color;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
}

.container {
  margin: 0 auto;
  padding: 40px 20px;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @include tablet {
    width: 768px;
    padding: 40px 32px 60px 32px;
  }
  @include desktop {
    width: 1280px;
    padding: 60px 16px;
  }
}

.section-title {
  font-family: 'Titan One';
  text-transform: uppercase;
  @include font(34px, 400, 1.147);
  text-align: center;
  @include let-spc;

  color: $brand-color;

  @include tablet {
    @include font(48px, 400, 1.147);
  }
  @include desktop {
    @include font(58px, 400, 1.138);
    @include let-spc(0.06em);
  }
}
.pre-title {
  font-family: 'Titan One';
  @include font(18px, 400, 1.167);
  font-weight: 400;

  text-align: center;
  text-transform: uppercase;

  color: $pre-title-color;

  @include tablet {
    @include font(26px, 400, 1.154);
  }
  @include desktop {
    @include font(30px, 400, 1.133);
    @include let-spc;
  }
}
.no-scroll {
  overflow: hidden;
}
button {
  cursor: pointer;
}
