$brand-color: #d41443;
$section-first-bgcolor: #fff5f6;
$section-second-bgcolor: #e5e5e5;
$hero-bgcolor: #ffb8ca;
$pre-title-color: #ffa5ba;
$prime-text-color: #000000;
$second-text-color: #907e82;
$light-color: #ffffff;
